19031743_russiandoll.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookstore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bookstore_info">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="storeName"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:float" name="mobile_number"/>
              <xs:element type="xs:string" name="email_address"/>
              <xs:element type="xs:string" name="website_address"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="info_type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="booklisting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="books" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="book_title"/>
                    <xs:element name="Auther">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Auther_name">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="brand_id" use="required">
                                     <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="[A][0-9][0-9]"/>
                                     </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="gender" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="cover_artist" minOccurs="0"/>
                    <xs:element type="xs:string" name="book_description"/>
                    <xs:element name="book_info">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="country"/>
                          <xs:element type="xs:string" name="language"/>
                          <xs:element name="genre">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="genre_id" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="publisher"/>
                          <xs:element name="published_date">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="year"/>
                                <xs:element type="xs:string" name="month" minOccurs="0"/>
                                <xs:element type="xs:int" name="day" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="volume" minOccurs="0"/>
                          <xs:element type="xs:short" name="pages"/>
                          <xs:element name="media_type">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="followed_by" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:short" name="date" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="rating">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="seller_rating" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="price">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="currency" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="info_id" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ISBN" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="title"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>